:root {
	--Primary-blue-color: #1d61e7;
	--Secondary-blue-color: #e1eefc;
	--Text-1-color: #1a1c1e;
	--Black: #000000;
	--Text-2-color: #777b80;
	--Separator-color: #777b8080;
	--Separator-color-2: #777b8040;
	--Background-color: #f5f5f5;
	--Background-2-color: #ffffff;
	--warning-color: #fed83a;
	--error-color: #f14635;
	--border-color: #ffffff80;
}
